grpc_server_config:
  address: ":9100"
http_server_config:
  address: ":9101"
protocol_providers:
  email:
    gomail:
      - name: nobody163
        argument: nobodyinword@163.com,羊米POST,smtp.163.com,465,nobodyinword@163.com,*
  sms:
    tencentSMS:
      - argument: "*,*"
        name: tencentSMS

redis_dsn: "redis://:redis_default_pass@env.dev:8900/0"
